.contact {
    padding-bottom: 100px;
    &__title {
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 30px;
        margin-bottom: 40px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 200px;
            background-color: #6d7278;

        }
    }

    .contact__social {
        padding-left: 284px;
        display: flex;
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 10px;
    }
    &__box {
        padding-left: 284px;
    }
    &__social-item + .contact__social-item {
        padding-left: 40px;
    }
    &__phone {
        color: $default;
    }
    &__city {
        margin-bottom: 16px;
    }
    &__form {
        padding-left: 284px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__form-input {
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        padding: 6px 17px;
        margin-bottom: 13px; 
        width: 48%;
        &::placeholder {
            color: #A1A1A1;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            line-height: 27px;
        }
    }
    &__form-area {
        width: 100%;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        padding: 14px 17px;
        min-height: 125px;
        resize: none;
        margin-bottom: 20px;
        &::placeholder {
            color: #A1A1A1;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            line-height: 27px;
        }
    }
    &__form-btn {
        border: none;
        background-color: $title;
        color: #fffff0;
        font-weight: 600;
        border-radius: 21px;
        padding: 6px 60px;
        cursor: pointer;
    }
}

.contact-slider {
    padding-bottom: 102px;
    &__link {
        position: relative;
        margin-bottom: 20px;
        &:hover {
            .contact-slider__title {
                opacity: 1;
            }
        }
    }
    &__img {
        width: 170px;
        height: 170px;
        object-fit: cover;
    }
    &__title {
        transition: all .5s;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#fff, .6);
        color: $title;
        @extend %title-font;
        line-height: 22px;
        font-size: 16px;
        padding: 0 5px;
        text-align: center;
        opacity: 0;
    }
}