.aside {
    width: 350px;
    margin-left: 30px;
    &__search {
        position: relative;
        margin-bottom: 40px;
    }
    &__search-input {
        display: block;
        width: 100%;
        padding: 6px 45px 6px 18px;
        border: 1px solid rgba($title, .7);
        border-radius: 20px;
        &::placeholder {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 27px;
            font-weight: 400;
            color: #A1A1A1;
        }
    }
    &__search-btn {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 13px;
        cursor: pointer;
    }
}

.recent-posts {
    margin-bottom: 40px;
    &__title {
        margin-bottom: 24px;
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }
    &__item {
        margin-bottom: 11px;
    }
    &__item-title {
        display: block;
        color: inherit;
    }
    &__date,
    &__author {
        color: #A1A1A1;
        font-size: 14px;
    }
}