.blog {
    padding: 60px 0 100px;
    &__inner {
        display: flex;
        justify-content: space-between;        
    }
    &__category {
        margin-bottom: 36px;
    }
    &__category-title,
    &__tags-title {
        margin-bottom: 15px;
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }   
    &__category-item {
        margin-bottom: 12px;
    }
    &__category-link {
        color: inherit;
    }
    &__tags {
        margin-bottom: 50px;
    }   
    &__tags-link {
        color: #8F8D8D;
        font-weight: 600;
        font-size: 14px;
        padding: 0 16px;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        border: 1px solid rgba(#454647, .5);
        border-radius: 14px;
    }
    &__social {
        display: flex;
    }
    &__social-item {
        margin-right: 20px;
    }
    &__items {
        max-width: 730px;
    }
    &__item {
        margin-bottom: 80px;
    }
    &__item-img {
        max-width: 730px;
    }
    &__item-info {
        padding: 25px 0 10px;    
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        a {
            color: inherit;
        }
    }
    &__item-title {
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 6px;
        color: $title;
        @extend %title-font;
    }
    &__blockquote {
        background: rgba(223,223,223, .5);
        margin-bottom: 50px;
        padding: 54px 64px;
        font-weight: 300;
        font-style: italic;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
    }    
    &__blockquote-author {
        font-size: 16px;
        line-height: 22px;
        color: $title;
        @extend %title-font;
        margin-top: 23px;
        padding-top: 23px;
        position: relative;
        font-style: normal;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;   
            background: #6D7278; 
            border-radius: 1px;
            height: 1px;
            width: 200px;
            margin: 0 auto;        
        }
    }
    &__item-popup {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}