.breadcrumbs {
    background: rgba(#DFDFDF, .5);
    padding: 13px 14px;
    position: relative;
    z-index: 10;
    &__list {
        display: flex;
        overflow-x: auto;
    }
    &__item {
        position: relative;
        padding-right: 8px;
    }
    &__item::after {
        content: '/';
        position: absolute;
    }
    &__item:last-child::after {
        display: none;
    }
    &__link {
        font-size: 14px;
        color: $default;
    }
}