.gallery {
    padding: 80px 0 90px;
    &__buttons {
        text-align: center;
        margin-bottom: 40px;
    }    
    &__btn {
        margin: 0 13px;
        background-color: transparent;
        border: 1px solid #454647;
        border-radius: 20px;
        padding: 6px 16px;
        color: #8F8D8D;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }
    .mixitup-control-active {
        background-color: #FFEF35;
        border: 1px solid #FFEF35;
        color: $title;
    }
 
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 35px;
    }
    &__item:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
    &__item img {
        object-fit: cover;
        width: 100%;
        max-height: 1150px;
        height: 100%;
    }
    &.gallery-page {
        .gallery__item img{
            max-height: 1175px;
        }
        .gallery__item:nth-child(8) {
            grid-column: span 2;
            grid-row: span 2;
        }
    }
}